.tracker {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #707070;
  padding: 16px 7px 15px 20px;
}

.tracker:first-child {
  border-top: 1px solid #707070;
}

.name {
  flex-grow: 1;
  font-weight: 700;
}
