.app {
  margin: 0 auto;
  width: 320px;
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  .app {
    width: 100%;
  }
}

@media screen and (min-width: 560px) {
  .app {
    width: 560px;
  }
}
