.tracker-input {
  margin-bottom: 26px;
}

form {
  height: 46px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 23px;
  padding-left: 20px;
}

input {
  flex-grow: 2;
  border: none;
}

input:focus {
  outline: none;
}

.start {
  display: inline-flex;
  align-self: center;
}

.react-icon {
  color: #3faf6c;
  height: 48px;
  width: 48px;
}
