.input-container {
  height: 46px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 23px;
  margin: 0 12px 26px;
}

@media screen and (min-width: 560px) {
  .input-container {
    margin: 0 0 26px;
  }
}

/* TODO: add input text formatting */
input {
  margin-left: 20px;
  flex-grow: 2;
  border: none;
  font-size: 17px;
  font-weight: 400;
}

input::placeholder {
  color:rgba(0, 0, 0, 0.4)
}

input:focus {
  outline: none;
}

.start {
  display: inline-flex;
  align-self: center;
  cursor: pointer;
}

.start svg {
  color: #3faf6c;
  height: 46px;
  width: 46px;
}
