.tracker-input {
  margin-bottom: 26px;
  padding: 0 12px;
}

@media screen and (min-width: 560px) {
  .tracker-input {
    padding: 0;
  }
}

.input-container {
  height: 46px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 23px;
}

/* FIXME: input height */
/* TODO: add input text formatting */
input {
  margin-left: 20px;
  flex-grow: 2;
  border: none;
}

input:focus {
  outline: none;
}

.start {
  display: inline-flex;
  align-self: center;
  cursor: pointer;
}

.react-icon {
  color: #3faf6c;
  height: 46px;
  width: 46px;
  vertical-align: top;
}
